html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }






body {
    background-color: #E3DAC9;
}
.topper {
    background-color: #C8B38C;
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topper-text {
    position: absolute;
    color: #AA5939;
    text-align: center;
    top: 30px;
    width: 100%;
    font-size: 100px
}
.button-text {
    color: #616E85; 
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 135px; 
}
.button-background{
    background-color: #C6C5C9;
    height: 150px;
    transition: 0.4s;
}
.button-background:hover {
  box-shadow: 10px 12px 0 #577C78
}
.two-column {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 100px;
    width: 55%;
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 85px;
}
a {
  text-decoration: none;
}


p {
  margin-top: 20px;
}
.position-text {
  color: #474747; 
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 135px; 
}
.position-background {
  background-color: #CCC9C9;
  margin-bottom: 350px;
  height: 150px;
}
.background-color {
  color: #CCC9C9;
  gap: 70px;
  width: 80%;
  margin: auto;
  margin-top: 40px; 
}
.two-column-position {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 100px;
  width: 55%;
  margin: 10%;
  margin-top: 40px; 
}
.position-text {
  font-size: 20px;
  margin: 20px;
}
